/*
 * R.E.D D5-FE CSS Reset for Web 
 * V 1.0.0
 * EDIT IN 20130328
 */
@charset "utf-8";
html, body, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li, form, label,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0;padding: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body {font:16px/1.5em arial,Gotham-Medium,"\5FAE\8F6F\96C5\9ED1";color:#505050;background:#f0f0f0 url(../images/bbg.png) top repeat-x;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
table { border-collapse: collapse; border-spacing: 0;}
input,button,textarea,select { font-size:100%; outline:none;}
input, select { vertical-align:middle;}
textarea{resize:none}

fieldset,img {border:0;}

/* 清理浮动 */
.clearfix:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.clearfix {zoom:1;}

.fl-l{ float:left;}
.fl-r{ float:right;}
.fl-n{ float:none;}


.ta-l{ text-align:left;}
.ta-r{ text-align:right;}
.ta-c{ text-align:center;}

.gray{ color:#999;}
.blue{ color:#0050b4;}
.orange{ color:#f60;}
.black { color:#000;}
.f15 {font-size:15px;}
.mb10 {margin-bottom:10px;}

a {text-decoration:none;}
a:link {color:#4a4a4a;}
a:visited {color:#4a4a4b;}
a:hover {color:#4a4a4c;}

.hbg {height:7px;background:url(../images/hbg.png) repeat-x;background-size:14px 7px;}
.wrap {margin:0 10px;}
h1 {padding:10px 0;font-size:17px;text-align:center;line-height:25px;border-bottom:1px #e6e6e6 solid;}
.des {padding:10px 5px;color:#999;border-top:1px #fff solid;}
.list li {margin-bottom:10px;padding:6px;background:#fff;}
.list p {padding:0 10px 5px;}
.list p input {vertical-align:-1px;}
.num {float:left;display:inline-block;margin-top:5px;width:23px;height:16px;line-height:16px;text-align:center;font-size:14px;background:#f60;color:#fff;}
.problem {margin-left:22px;}
.input {height:25px;padding:0 5px;border:1px #b7b7b7 solid;border-radius:4px;-webkit-box-shadow:inset 0 1px 2px #e2e2e2;}
.textarea {width:100%;}

.choice-select {width:100%;height:22px;font-size:14px;text-align:center;}

.bottom {padding-bottom:20px;margin-left:10px;}
.btn {width:120px;height:30px;text-align:center;color:#333;}
.top {padding:10px;height:30px;text-align:right;}

/*add by hyz*/
.participate-btn{margin-top:50px;}
.bottom a{color:#66F;display:block;position:absolute;left:20px;margin-top:50px;}
